.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

html {
  font-size: 62.5%;
  color: #212353;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: #212353; }

body .btn, body .swiper-slide, body .slider-item__link, .header .menu-inside, .header .menu-inside__item, .header-menu__item, .header-menu__inside svg {
  transition: .2s ease-out; }

* {
  box-sizing: border-box; }

body {
  background: #FFF; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    margin: 0;
    padding: 0; }
  body ul, body ol, body p {
    margin: 0;
    padding: 0; }
  body ul, body ol {
    list-style: none; }
  body a {
    color: inherit;
    text-decoration: none; }
  body input {
    border: none;
    font-size: 1.6rem;
    line-height: 1.6; }
  body .btn {
    color: #fff;
    cursor: pointer;
    background-color: #9C69E2;
    border-radius: 50px;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
    padding: 16px 59px; }
    body .btn:hover {
      background-color: #B17FF4; }
    body .btn--more {
      background-color: #EEAA12;
      font-size: 1.6rem;
      padding: 11px 28px; }
      body .btn--more:hover {
        background-color: #FFBE2D; }
  body .input {
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 15px; }
  body .container {
    display: flex;
    margin: 0 auto;
    width: 1320px; }
  body .row-space-between {
    justify-content: space-between; }
  body .swiper-slide {
    opacity: 0; }
  body .swiper-slide-active,
  body .swiper-slide-next {
    opacity: 1; }
  body .slider {
    background-color: #FFC84D;
    border-radius: 50px;
    counter-reset: section;
    padding: 100px 120px 130px 150px;
    position: relative;
    margin: 0 auto;
    width: 1200px; }
    body .slider-pagination.swiper-pagination {
      bottom: 60px;
      left: 60px;
      width: auto; }
      body .slider-pagination.swiper-pagination .swiper-pagination-bullet {
        background-color: #fff;
        border: 4px solid transparent;
        position: relative;
        opacity: 1;
        margin: 0;
        margin-right: 15px;
        height: 6px;
        width: 6px; }
        body .slider-pagination.swiper-pagination .swiper-pagination-bullet-active:before {
          content: '';
          background-color: #F063B8;
          border-radius: 50%;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          height: 10px;
          width: 10px;
          transform: translate(-50%, -50%); }
    body .slider-item {
      background-color: #FFF3D7;
      box-sizing: border-box;
      box-shadow: 0px 10px 0px #F5BD3F;
      border-radius: 50px;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 50px 60px 45px 110px;
      position: relative;
      height: 358px;
      width: 390px;
      text-align: left; }
      body .slider-item:before {
        counter-increment: section;
        content: counter(section);
        color: #9C69E2;
        position: absolute;
        left: -65px;
        top: 30px;
        font-size: 202px;
        font-weight: 700;
        line-height: 1; }
      body .slider-item__title {
        font-size: 1.5625em;
        line-height: 1.3;
        margin-bottom: 30px; }
      body .slider-item p {
        color: #4B5D68;
        font-size: 1em;
        line-height: 1.65;
        margin-bottom: 25px; }
      body .slider-item__link {
        font-size: 1em;
        font-weight: 700;
        display: flex;
        align-items: center; }
        body .slider-item__link:hover {
          color: #9C69E2; }
        body .slider-item__link span {
          margin-right: 21px; }
      body .slider-item__label {
        color: #fff;
        background-color: #F063B8;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 4px 0px #EFE3C5;
        font-size: 1.8rem;
        padding: 8px 15px;
        position: absolute;
        top: -5px;
        text-transform: uppercase; }

.main {
  max-width: 1320px;
  margin: 0 auto;
  background: #FFF;
  padding-top: 92px;
  padding-bottom: 151px;
  text-align: center; }
  .main img {
    max-width: 100%; }
  .main__title {
    font-size: 4rem;
    line-height: 1.3;
    margin-bottom: .95em; }
  .main__desc {
    color: #4B5D68;
    line-height: 1.6;
    font-size: 2.3rem;
    font-weight: 400;
    margin-bottom: 56px; }

.header {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header__right {
    display: flex; }
  .header-logo {
    margin-right: 131px;
    display: flex;
    align-items: center; }
  .header .menu-inside {
    background-color: #fff;
    border: 1px solid #9C69E2;
    border-radius: 10px;
    box-shadow: 0px 4px 0px #E2CEFE;
    position: absolute;
    top: 100%;
    left: -25px;
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px); }
    .header .menu-inside:before {
      border-top: 1px solid #9C69E2;
      border-right: 1px solid #9C69E2;
      content: '';
      position: absolute;
      top: -10px;
      left: 61px;
      background-color: #fff;
      height: 18px;
      width: 18px;
      transform: rotate(-45deg); }
    .header .menu-inside__item {
      color: #212353;
      font-size: 1.6rem;
      font-weight: 400;
      margin-bottom: 10px;
      white-space: nowrap; }
      .header .menu-inside__item:last-child {
        margin-bottom: 0; }
      .header .menu-inside__item:hover {
        color: #9C69E2; }
  .header-menu {
    display: flex;
    align-items: center; }
    .header-menu ul {
      display: flex; }
    .header-menu__item {
      color: #212353;
      font-size: 1.8rem;
      font-weight: 500;
      margin-right: 52px;
      line-height: 1.6;
      padding: 15px 0; }
      .header-menu__item:hover {
        color: #9C69E2; }
      .header-menu__item:last-child {
        margin-right: 0; }
    .header-menu__inside {
      display: flex;
      align-items: center;
      position: relative; }
      .header-menu__inside:hover .menu-inside {
        opacity: 1;
        pointer-events: all;
        transform: none; }
      .header-menu__inside:hover svg {
        transform: rotate(180deg); }
      .header-menu__inside svg {
        transition-property: transform;
        fill: currentColor;
        margin-left: 5px;
        transform: none; }

.footer {
  background-color: #9C69E2;
  padding: 75px 0; }
  .footer-right {
    display: flex;
    align-items: center; }
  .footer-logo {
    margin-right: 191px; }
  .footer-menu__item {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    margin-right: 54px; }
    .footer-menu__item:last-child {
      margin-right: 0; }
  .footer-form .input {
    margin-right: 33px;
    width: 419px; }

/*Responsive start*/
/*UltraLarge screens start*/
/*UltraLarge screens stop*/
/*Large screens*/
/*Laptops*/
/*Tablet*/
/*Tablet Stop*/
/*Small devices Start*/
/*Small devices Stop*/
/*Phone Start*/
/*Pages stop*/
/*Phone Stop*/
/*small phone start*/
@media (max-width: 480px) {
  body .container {
    padding: 0 20px;
    width: 100%; }
  body .header {
    padding: 25px 0; }
    body .header-menu {
      display: none; }
    body .header__sign {
      display: none; }
  body .main {
    padding-top: 70px;
    padding-bottom: 73px; }
    body .main__title {
      font-size: 3.5rem; }
    body .main__desc {
      padding: 0 20px; }
  body .footer-logo {
    margin-right: 0; }
  body .footer__container {
    flex-direction: column; }
  body .footer-right {
    justify-content: space-between;
    align-items: flex-start; }
  body .footer-menu {
    display: flex;
    flex-direction: column; }
    body .footer-menu__item {
      margin-right: 0;
      margin-bottom: 20px; }
  body .footer-form {
    margin-top: 35px;
    text-align: center; }
    body .footer-form .input {
      margin-right: 0;
      margin-bottom: 22px;
      width: 100%; }
  body .slider {
    border-radius: 0;
    padding: 38px 20px 99px;
    width: 100%; }
    body .slider-pagination.swiper-pagination {
      bottom: 35px;
      left: 0;
      width: 100%; }
    body .slider-item {
      padding: 50px 30px;
      width: 100%; }
      body .slider-item:before {
        display: none; } }

/*small phone stop*/
/*Responsive stop*/
