%transition {
	transition: .2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

%transition-text {
	opacity: 0;
	transform: translateY(15px);
	transition-duration: .3s;
	transition-property: opacity, transform;
}


* {
	box-sizing: border-box;
}

body {
	background: #FFF;
	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 100vh;

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		padding: 0;
	}

	ul, ol, p {
		margin: 0;
		padding: 0;
	}

	ul, ol {
		list-style: none;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	input {
		border: none;
		font-size: 1.6rem;
		line-height: 1.6;
	}

	.btn {
		@extend %transition;
		color: $text-white;
		cursor: pointer;
		background-color: $color-violet;
		border-radius: 50px;
		display: inline-block;
		font-size: 1.8rem;
		font-weight: 500;
		line-height: 1.6;
		padding: 16px 59px;
		&:hover {
			background-color: #B17FF4;
		}

		&--more {
			background-color: $color-orange;
			font-size: 1.6rem;
			padding: 11px 28px;
			&:hover {
				background-color: #FFBE2D;
			}

		}
	}

	.input {
		background-color: #fff;
		border-radius: 4px;
		padding: 10px 15px;
	}

	.container {
		display: flex;
		margin: 0 auto;
		width: 1320px;
	}

	.row-space-between {
		justify-content: space-between;
	}

	.swiper-slide {
		opacity: 0;
		@extend %transition;
	}

	.swiper-slide-active,
	.swiper-slide-next {
		opacity: 1;
	}

	.slider {
		background-color: $color-yellow;
		border-radius: 50px;
		counter-reset: section;
		padding: 100px 120px 130px 150px;
		position: relative;
		margin: 0 auto;
		width: 1200px;

		&-pagination.swiper-pagination {
			bottom: 60px;
			left: 60px;
			width: auto;

			.swiper-pagination-bullet {
				background-color: #fff;
				border: 4px solid transparent;
				position: relative;
				opacity: 1;
				margin: 0;
				margin-right: 15px;
				height: 6px;
				width: 6px;
				&-active:before {
					content: '';
					background-color: $color-pink;
					border-radius: 50%;
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					height: 10px;
					width: 10px;
					transform: translate(-50%, -50%);
				}

			}

		}

		&-item {
			background-color: $color-yellow2;
			box-sizing: border-box;
			box-shadow: 0px 10px 0px #F5BD3F;
			border-radius: 50px;
			display: inline-flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 50px 60px 45px 110px;
			position: relative;
			height: 358px;
			width: 390px;
			text-align: left;

			&:before {
				counter-increment: section;
				content: counter(section);
				color: $color-violet;
				position: absolute;
				left: -65px;
				top: 30px;
				font-size: 202px;
				font-weight: 700;
				line-height: 1;
			}

			&__title {
				font-size: 1.5625em;
				line-height: 1.3;
				margin-bottom: 30px;
			}

			p {
				color: $text-gray;
				font-size: 1em;
				line-height: 1.65;
				margin-bottom: 25px;
			}

			&__link {
				@extend %transition;
				font-size: 1em;
				font-weight: 700;
				display: flex;
				align-items: center;
				&:hover {
					color: $color-violet;
				}

				span {
					margin-right: 21px;
				}

				svg	{
					width: 22px;
					height: 16px;
				}

			}

			&__label {
				color: $text-white;
				background-color: $color-pink;
				border-radius: 0px 0px 4px 4px;
				box-shadow: 0px 4px 0px #EFE3C5;
				font-size: 1.8rem;
				padding: 8px 15px;
				position: absolute;
				top: -5px;
				text-transform: uppercase;
			}

		}

	}

}


.main {
	max-width: 1320px;
	margin: 0 auto;
	background: #FFF;
	padding-top: 92px;
	padding-bottom: 151px;
	text-align: center;
	flex: 1 1 auto;

	img {
		max-width: 100%;
	}

	&__title {
		font-size: 4rem;
		line-height: 1.3;
		margin-bottom: .95em;
		@extend %transition;
		@extend %transition-text;
		transition-delay: .1s;

		&.is-show {
			opacity: 1;
			transform: none;
		}

	}

	&__desc {
		color: $text-gray;
		line-height: 1.6;
		font-size: 2.3rem;
		font-weight: 400;
		margin: 0 auto;
		margin-bottom: 56px;
		width: 50%;
		@extend %transition;
		@extend %transition-text;
		transition-delay: .15s;

		&.is-show {
			opacity: 1;
			transform: none;
		}

	}

}
