$text-main: #212353;
$text-white: #fff;
$text-gray: #4B5D68;

$color-violet: #9C69E2;
$color-violet-hover: #B17FF4;

$color-yellow: #FFC84D;
$color-yellow2: #FFF3D7;
$color-yellow2-shadow: #F5BD3F;

$color-orange: #EEAA12;
$color-pink: #F063B8;


$screen-sm: 688px;
$screen-lg: 1200px;
$screen-xl: 1400px;