.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

html {
  font-size: 62.5%;
  color: #212353;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: #212353; }

* {
  box-sizing: border-box; }

body {
  background: #FFF; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    margin: 0;
    padding: 0; }
  body ul, body ol, body p {
    margin: 0;
    padding: 0; }
  body ul, body ol {
    list-style: none; }
  body a {
    color: #212353;
    text-decoration: none; }
  body input {
    border: none;
    font-size: 1.6rem;
    line-height: 1.6; }
  body .btn {
    color: #fff;
    cursor: pointer;
    background-color: #9C69E2;
    border-radius: 50px;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
    padding: 16px 59px; }
    body .btn--more {
      background-color: #EEAA12;
      font-size: 1.6rem;
      padding: 11px 28px; }
  body .input {
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 15px; }
  body .container {
    display: flex;
    margin: 0 auto;
    width: 1320px; }
  body .row-space-between {
    justify-content: space-between; }
  body .slider {
    background-color: #FFC84D;
    border-radius: 50px;
    counter-reset: section;
    padding: 97px 60px 130px 86px;
    margin: 0 auto;
    width: 1200px; }
    body .slider-item {
      background-color: #FFF3D7;
      box-sizing: border-box;
      box-shadow: 0px 10px 0px #F5BD3F;
      border-radius: 50px;
      display: inline-block;
      padding: 51px 60px 41px 114px;
      position: relative;
      height: 358px;
      width: 390px;
      text-align: left; }
      body .slider-item:before {
        counter-increment: section;
        content: counter(section);
        color: #9C69E2;
        position: absolute;
        left: -65px;
        top: 30px;
        font-size: 202px;
        font-weight: 700;
        line-height: 1; }
      body .slider-item__title {
        font-size: 1.5625em;
        line-height: 1.3;
        margin-bottom: 30px; }
      body .slider-item p {
        color: #4B5D68;
        font-size: 1em;
        line-height: 1.65;
        margin-bottom: 25px; }
      body .slider-item__link {
        font-size: 1em;
        font-weight: 700; }
        body .slider-item__link span {
          margin-right: 21px; }

.main {
  max-width: 1320px;
  margin: 0 auto;
  background: #FFF;
  padding-top: 92px;
  padding-bottom: 151px;
  text-align: center; }
  .main img {
    max-width: 100%; }
  .main__title {
    font-size: 2.5em;
    line-height: 1.3;
    margin-bottom: .95em; }
  .main__desc {
    color: #4B5D68;
    line-height: 1.6;
    font-size: 1.44em;
    font-weight: 400;
    margin-bottom: 56px; }

.header {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header__right {
    display: flex; }
  .header-logo {
    margin-right: 131px;
    display: flex;
    align-items: center; }
  .header-menu {
    display: flex;
    align-items: center; }
    .header-menu ul {
      display: flex; }
    .header-menu__item {
      font-size: 1.8rem;
      font-weight: 500;
      margin-right: 52px;
      line-height: 1.6; }
      .header-menu__item:last-child {
        margin-right: 0; }

.footer {
  background-color: #9C69E2;
  padding: 75px 0; }
  .footer-right {
    display: flex;
    align-items: center; }
  .footer-logo {
    margin-right: 191px; }
  .footer-menu__item {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    margin-right: 54px; }
    .footer-menu__item:last-child {
      margin-right: 0; }
  .footer-form .input {
    margin-right: 33px;
    width: 419px; }

/*Responsive start*/
/*UltraLarge screens start*/
/*UltraLarge screens stop*/
/*Large screens*/
/*Laptops*/
/*Tablet*/
/*Tablet Stop*/
/*Small devices Start*/
/*Small devices Stop*/
/*Phone Start*/
/*Pages stop*/
/*Phone Stop*/
/*small phone start*/
/*small phone stop*/
/*Responsive stop*/
