.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

html {
  font-size: 62.5%;
  color: #212353;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  letter-spacing: -0.5px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0; }

body {
  font-size: 1.8rem;
  color: #4B5D68; }

body {
  background: #FFF; }
  body .col {
    width: 1320px;
    margin: 0 auto; }

.main {
  max-width: 1200px;
  margin: 0 auto;
  background: #FFF; }
  .main img {
    max-width: 100%; }

.header {
  padding: 30px 0;
  display: flex;
  justify-content: space-between; }

.footer {
  background-color: #9C69E2;
  padding: 75px 0; }

/*Responsive start*/
/*UltraLarge screens start*/
/*UltraLarge screens stop*/
/*Large screens*/
/*Laptops*/
/*Tablet*/
/*Tablet Stop*/
/*Small devices Start*/
/*Small devices Stop*/
/*Phone Start*/
/*Pages stop*/
/*Phone Stop*/
/*small phone start*/
/*small phone stop*/
/*Responsive stop*/
