* {
	box-sizing: border-box;
}

body {
	background: #FFF;

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		padding: 0;
	}

	ul, ol, p {
		margin: 0;
		padding: 0;
	}

	ul, ol {
		list-style: none;
	}

	a {
		color: $text-main;
		text-decoration: none;
	}

	input {
		border: none;
		font-size: 1.6rem;
		line-height: 1.6;
	}

	.btn {
		color: $text-white;
		cursor: pointer;
		background-color: $color-violet;
		border-radius: 50px;
		display: inline-block;
		font-size: 1.8rem;
		font-weight: 500;
		line-height: 1.6;
		padding: 16px 59px;

		&--more {
			background-color: $color-orange;
			font-size: 1.6rem;
			padding: 11px 28px;
		}
	}

	.input {
		background-color: #fff;
		border-radius: 4px;
		padding: 10px 15px;
	}

	.container {
		display: flex;
		margin: 0 auto;
		width: 1320px;
	}

	.row-space-between {
		justify-content: space-between;
	}


	.slider {
		background-color: $color-yellow;
		border-radius: 50px;
		counter-reset: section;
		padding: 97px 150px 130px 149px;
		margin: 0 auto;
		width: 1200px;

		&-item {
			
			background-color: $color-yellow2;
			box-sizing: border-box;
			box-shadow: 0px 10px 0px #F5BD3F;
			border-radius: 50px;
			padding: 51px 60px 41px 114px;
			position: relative;
			height: 358px;
			width: 390px;
			text-align: left;
			&:before {
				counter-increment: section;
				content: counter(section);
				color: $color-violet;
				position: absolute;
				left: -65px;
				top: 30px;
				font-size: 202px;
				font-weight: 700;
				line-height: 1;
			}

			&__title {
				font-size: 1.5625em;
				line-height: 1.3;
				margin-bottom: 30px;
			}

			p {
				color: $text-gray;
				font-size: 1em;
				line-height: 1.65;
				margin-bottom: 25px;
			}

			&__link {
				font-size: 1em;
				font-weight: 700;
				span {
					margin-right: 21px;
				}
			}

		}

	}

}


.main {
	max-width: 1320px;
	margin: 0 auto;
	background: #FFF;
	padding-top: 92px;
	padding-bottom: 151px;
	text-align: center;

	img {
		max-width: 100%;
	}

	&__title {
		font-size: 2.5em;
		line-height: 1.3;
		margin-bottom: .95em;
	}

	&__desc {
		color: $text-gray;
		line-height: 1.6;
		font-size: 1.44em;
		font-weight: 400;
		margin-bottom: 56px;
	}

}
