/*Responsive start*/


/*UltraLarge screens start*/

@media(min-width: 2000px) {}


/*UltraLarge screens stop*/


/*Large screens*/

@media (min-width: 1800px) {}


/*Laptops*/

@media (min-width: 1230px) {}

/*Tablet*/

@media (min-width: ($screen-md - 1)) and (max-width: $screen-ipad) {}

/*Tablet Stop*/

/*Small devices Start*/

@media (min-width: ($screen-sm + 1)) and (max-width: ($screen-md - 1)) {}

/*Small devices Stop*/

/*Phone Start*/

@media (max-width: $screen-sm) {}


/*Pages stop*/


/*Phone Stop*/


/*small phone start*/

@media (max-width: $screen-xs) {

	body {

		.container {
			padding: 0 20px;
			width: 100%;
		}

		.header {
			padding: 25px 0;

			&__left {
				background-color: #fff;
				box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.15);
				display: block;
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;

				pointer-events: none;
				opacity: 0;
				transform: translateY(20px);
				transition-property: opacity, transform;

				&.is-show {
					pointer-events: all;
					opacity: 1;
					transform: none;
				}

				ul {
					display: flex;
					flex-direction: column;
					width: 100%;
				}

				.header-menu {
					flex: 1 1 0;

					&__item {
						border-top: 1px solid $color-violet;
						padding-left: 20px;
						padding-right: 20px;
						margin-right: 0;

						&:last-child {
							border-bottom: 1px solid $color-violet;
						}

					}

				}

				

			}

			&__sign {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 35px 0;
			}

			&__container {
				align-items: center;
			}

			.menu-btn {
				display: block;
			}

		}

		.main {
			padding-top: 70px;
			padding-bottom: 73px;

			&__title {
				font-size: 3.5rem;
			}

			&__desc {
				padding: 0 20px;
				width: 100%;
			}

		}

		.footer {


			&-logo {
				margin-right: 0;
			}

			&__container {
				flex-direction: column;
			}

			&-right {
				justify-content: space-between;
				align-items: flex-start;
			}

			&-menu {
				display: flex;
				flex-direction: column;

				&__item {
					margin-right: 0;
					margin-bottom: 20px;
				}

			}

			&-form {
				margin-top: 35px;
				text-align: center;

				.input {
					margin-right: 0;
					margin-bottom: 22px;
					width: 100%;
				}

			}

		}

		.slider {
			border-radius: 0;
			padding: 38px 20px 99px;
			width: 100%;
			&-pagination.swiper-pagination {
				bottom: 35px;
				left: 0;
				width: 100%;
			}

			&-item {
				padding: 50px 30px;
				width: 100%;
				&:before {
					display: none;
				}
			}

		}

	}

}

/*small phone stop*/

/*Responsive stop*/