$text-main: #212353;
$text-white: #fff;
$text-gray: #4B5D68;
$weight: 400;

$color-violet: #9C69E2;
$color-yellow: #FFC84D;
$color-yellow2: #FFF3D7;
$color-orange: #EEAA12;
$color-pink: #F063B8;


$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-ipad: 1024px;
$screen-lg: 1200px;
$screen-xl: 1400px;
$screen-xxl: 1600px;